In [1]:
#Write a Python program to find the sum of all elements in a list using loop.
#Input:- [10,20,30,40]
#Output:- 100
total = 0
for i in [10,20,30,40]:
  total += i
print(total)

100

In [2]:
#Write a Python program to find the multiplication of all elements in a list using loop.
#Input:- [10,20,30,40]
#Output:- 240000

total = 1
for i in [10,20,30,40]:
  total *= i
print(total)

240000

In [4]:
#Write a Python program to find the largest number from a list using loop.
#Input:- [10,100,2321, 1,200,2]
#Output:- 2321

# max([10,100,2321, 1,200,2])
lst = [10,100,2321, 1,200,2]
max = lst[0]
for i in lst:
  if i > max:
    max = i
print(max)

2321

In [ ]:
#Write a Python program to find the smallest number from a list using loop.
#Input:- [10,100,2321, 1,200,2]
#Output:- 1

In [6]:
#Write a Python program to count the number of strings having length more than 2 and are palindrome in a list using loop.
#Input:- ['ab', 'abc', 'aba', 'xyz', '1991']
#Output:- 2

lst = ['ab', 'abc', 'aba', 'xyz', '1991']
count_palindrome = 0
for i in lst:
  if i == i[::-1] and len(i) > 2:
    count_palindrome += 1
print(count_palindrome)

2

In [9]:
#Write a Python program to sort a list in ascending order using loop.
#Input:- [100,10,1,298,65,483,49876,2,80,9,9213]
#Output:- [1,2,9,10,65,80,100,298,483,9213,49876]

# lst = [100,10,1,298,65,483,49876,2,80,9,9213]
# for i in range(len(lst)-1):
#   for j in range(0, len(lst)-i-1):
#     if lst[j] > lst[j+1]:
#       lst[j], lst[j+1] = lst[j+1], lst[j]
# print(lst)

lst.sort()
print(lst)

[1, 2, 9, 10, 65, 80, 100, 298, 483, 9213, 49876]

In [21]:
#Write a Python program to get a sorted list in increasing order of last element in each tuple in a given list using loop.
#Input:- [(5,4),(9,1),(2,3),(5,9),(7,6),(5,5)]
#output:- [(9,1),(2,3),(5,4),(5,5),(7,6),(5,9)]
lst = [(5,4),(9,1),(2,3),(5,9),(7,6),(5,5)]
# lst1 = [(i[1],i[0]) for i in lst]
# print(lst1)
lst.sort(key = lambda x:x[-1])
# print([(i[1],i[0]) for i in lst1])
print(lst)
# print(sorted(lst, key = lambda x:x[-1]))

[(9, 1), (2, 3), (5, 4), (5, 5), (7, 6), (5, 9)]

In [22]:
#Write a Python program to remove duplicate element from a list using loop.
#Input:- [10,1,11,1,29,876,768,10,11,1,92,29,876]
#Output:- [10,1,11,29,876,768,92]
lst = [10,1,11,1,29,876,768,10,11,1,92,29,876]
out_lst = []
for i in lst:
  if i not in out_lst:
    out_lst.append(i)
print(out_lst)

[10, 1, 11, 29, 876, 768, 92]

In [26]:
#Write a Python program to check a list is empty or not?
#Input:- []
#Output:- List is empty
#Input:- [10,20,30]
#Output:- List is not empty

# lst = []
# print(len(lst))


# lst = []
# if not lst:
#   print('List is empty')
# else:
#   print('list is not empty')

# lst = eval(input('Enter a list: \t'))

# if lst == []:
#     print('The list is empty.')
# elif lst != []:
#     print('The input list is not an empty list.')
# else:                                                      # CONFUSION (NOT WORKING)
#     print('The enetered input is not a list.')

Enter a list: 	(10,20,30)
The input list is not an empty list.

In [27]:
#Write a Python program to copy a list using loop.
#inp_lst = [10,10.20,10+20j, 'Python', [10,20], (10,20)]
#out_lst = [10,10.20,10+20j, 'Python', [10,20], (10,20)]

lst = [10,10.20,10+20j, 'Python', [10,20], (10,20)]
out_lst = []
for i in lst:
  out_lst.append(i)
print(out_lst)

[10, 10.2, (10+20j), 'Python', [10, 20], (10, 20)]

In [29]:
#Write a Python program to find the list of words that are longer than or equal to 4 from a given string.
#Input:- 'How much wood would a woodchuck chuck if a woodchuck could chuck wood'
#Output:- ['much', 'wood', 'would', 'woodchuck', 'chuck', 'could']
#Note:- Duplicate should be avoided.

my_str = 'How much wood would a woodchuck chuck if a woodchuck could chuck wood'
my_lst = [i for i in my_str.split() if len(i) >= 4]
out_lst = []
for i in my_lst:
  if i not in out_lst:
    out_lst.append(i)
print(out_lst)

['much', 'wood', 'would', 'woodchuck', 'chuck', 'could']

In [30]:
#Write a Python program which takes two list as input and returns True if they have at least 3 common elements.
#inp_lst1 = [10,20,'Python', 10.20, 10+20j, [10,20,30], (10,20,30)]
#inp_lst2 = [(10,20,30),1,20+3j,100.2, 10+20j, [10,20,30],'Python']
#Output:- True

lst1 = [10,20,'Python', 10.20, 10+20j, [10,20,30], (10,20,30)]
lst2 = [(10,20,30),1,20+3j,100.2, 10+20j, [10,20,30],'Python']
count = 0
for i in lst1:
  if i in lst2:
    count += 1
if count >= 3:
  print(True)

True

In [ ]:
#Write a Python program to create a 4X4 2D matrix with below elements using loop and list comprehension both.
#Output:- [[0,0,0,0],[0,1,2,3],[0,2,4,6],[0,3,6,9]]

In [ ]:
#Write a Python program to create a 3X4X6 3D matrix wiith below elements using loop
#Output:- 
# [
#     [[0,0,0,0,0,0],[0,0,0,0,0,0],[0,0,0,0,0,0],[0,0,0,0,0,0]],
#     [[0,0,0,0,0,0],[1,1,1,1,1,1],[2,2,2,2,2,2],[3,3,3,3,3,3]],
#     [[0,0,0,0,0,0],[2,2,2,2,2,2],[4,4,4,4,4,4],[6,6,6,6,6,6]]
# ]

In [ ]:
#Write a Python program which takes a list of numbers as input and prints a new list after removing even numbers from it.
#Input:- [10,21,22,98,87,45,33,1,2,100]
#Output:- [21,87,45,33,1]

In [ ]:
#Write a Python program which takes a list from the user and prints it after reshuffling the elements of the list.
#Input:- [10,21,22,98,87,45,33,1,2,100]
#Output:- [1,87,21,10,33,2,100,45,98,22] (It may be any randon list but with same elements)

# random.shuffle()

In [ ]:
# In gene expression, mRNA is transcribed from a DNA template. 
# The 4 nucleotide bases of A, T, C, G corresponds to the U, A, G, C bases of the mRNA. 
# Write a function that returns the mRNA transcript given the sequence of a DNA strand.

# Use a dictionary to provide the mapping of DNA to RNA bases.